# Files to be ignored on this projects

Hardware/Project/V1/RS232TOWIFI/RS232ToWifi/History/
Hardware/Project/V1/RS232TOWIFI/RS232ToWifi/__Previews/
Hardware/Project/V1/RS232TOWIFI/RS232ToWifi/Project\ Logs\ for\ RS232ToWifi/
Hardware/Project/V1/RS232TOWIFI/RS232ToWifi/Project\ Outputs\ for\ RS232ToWifi/
Hardware/Project/V1/RS232TOWIFI/RS232ToWifi/1551KBK\ 04-08-2020\ 19-22-04.WAS
Hardware/Project/V1/RS232TOWIFI/RS232ToWifi/RS232ToWifi.OutJob
Hardware/Project/V1/RS232TOWIFI/RS232ToWifi/RS232ToWifi.Dat

